# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Build TypeScript
# =========================
dist/
build/

# =========================
# Archivos de entorno (JWT, DB, etc.)
# =========================
.env
.env.*
!.env.example

# =========================
# Claves RSA (Firma Digital)
# =========================
rsa_keys/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Coverage
# =========================
coverage/

# =========================
# Cache
# =========================
.cache/
.tmp/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# IDE / Editores
# =========================
.vscode/
.idea/
*.swp

# =========================
# Sistema Operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker (si luego usas)
# =========================
docker-data/